@charset "UTF-8";

.container_link {
  border-radius: 12px;
  width: 250px;
  padding: 10px;
  max-width: 100%;
  z-index: 5;
  position: relative;
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.container_link:hover {
  background: #f6dff7;
  cursor: pointer;
}

.container_link a {
  text-decoration: none;
  color: #333333;
}

.img_link {
  width: 25px;
  height: 25px;
  margin: 2px 5px;
}

.container_LeftMenu {
  margin-top: 40px;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid #2d2d71;
}

.logo_header ::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 130px;
  left: -40px;
  top: -50px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("../img/Без названия.png");
  z-index: -1;
}

.logo_header {
  color: #1b1464;
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.logo_header span {
  color: #c756aa;
}

.tel_header {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 17px;
}

.container_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #3a3a3a;
  font-size: 17px;
  position: relative;
}

.margin_right {
  margin-right: 10px;
  padding-bottom: 3px;
}

.margin_right:hover {
  cursor: pointer;
  padding-bottom: 0px;
  border-bottom: solid 3px #b543a0;
}

.text_header:hover {
  cursor: pointer;
  border-bottom: solid 3px #b543a0;
}

.tel_header:hover {
  cursor: pointer;
  border-bottom: solid 3px #b543a0;
}

.soon {
  background: #eb5757;
  border-radius: 10px;
  font-size: 10px;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px;
  top: -20px;
  right: -15px;
  position: absolute;
}

.container_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_input span {
  color: #333333;
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.container_input input {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  padding: 10px 10px;
}

.btn_submit {
  background: #705ed8;
  border: 1px solid #705ed8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 15px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  height: 100vh;
}

div {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wraper {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
}

.content {
  width: 100%;
  margin-left: 20px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
}

button {
  background: #705ed8;
  border: 1px solid #705ed8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 15px;
  margin-top: 10px;
}

.title {
  font-family: DIN Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111111;
}

.logo {
  color: #1b1464;
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.logo span {
  color: #c756aa;
}

.text {
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 10px 0px;
}

.img_bus {
  width: 120px;
  border-radius: 10px;
  height: 130px;
}

.container_bus {
  background: #ffffff;
  border: 1px solid #705ed8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px;
}

.content_container_bus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_bus div {
  color: #b79a67;
}

.container_bus div span {
  color: #705ed8;
}

.container_bus a {
  color: #b79a67;
}

.content_bus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_info_bus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85px;
  margin-left: 10px;
}

i {
  border: solid #705ed8;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
}

.down_top {
  width: 10px;
  height: 10px;
  cursor: pointer;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.container_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.active_menu {
  overflow: hidden;
  padding: 0px;
  height: 0px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.down {
  width: 10px;
  height: 10px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.flag_sity {
  max-width: 20px;
}

.padding {
  margin-top: 6px;
}

.container_top {
  position: relative;
  color: #ffffff;
}

.container_bus div .top {
  color: #ffffff;
}

.top {
  background: #eb5757;
  border-radius: 10px;
  font-size: 10px;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px;
  top: -10px;
  right: -10px;
  position: absolute;
}

@media (max-width: 750px) {
  .wraper {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }

  .content {
    width: 100%;
    margin-left: 0px;
    padding: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
  }
}

@media (max-width: 450px) {
  .container_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    text-align: center;
  }

  .container_LeftMenu {
    position: fixed;
    bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #e1eff8;
    border-radius: 8px;
    z-index: 10;
  }
}

@media (max-width: 420px) {
  .text_header {
    display: none;
  }
}